.sidebarEl {
  padding: 0px;
  height: 400px;

  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-left: 0px;
}

.logosDown {
  display: flex;
  padding: 9px;
  align-items: flex-end;
}
.sideElements {
  margin-left: 7px;
}

.imgLogos {
  height: 40px;
  width: 40px;
  margin-right: 11px;
}
